[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nodeenv = "*"
structlog = "==22.1.0"
orjson = "*"
zoomus = "*"
pytz = "*"
urllib3 = "==1.26.6"

[dev-packages]
black = "*"
boto3 = "*"
pylint = "*"

[requires]
python_version = "3.9"
